[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = '3.6'


[packages]

rx = "==1.5.7"
requests = "==2.6.2"
autobahn = "==0.17.1"
jsonpickle = "==0.9.4"
raven = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
